@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.hero-background-mobile {
  background-image: url("../../components/HeroSection/hero-bg-mobile.png");
  background-size: cover;
  min-height: 250px;
  width: 100vw;
}

@media (min-width: 768px) {
  .hero-background {
    background-image: url("../../components/HeroSection/hero_background.png");
    background-size: cover;
    min-height: 528px;
    width: 100vw;
  }
}
